doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/angular-material/angular-material.css')
    script(src='/angular/angular.js')
  body
    block content
script(src='/angular-material/angular-material.js')
script(src='/angular-material-icons/angular-material-icons.js')
script(src='/angular-aria/angular-aria.js')
script(src='/ui-router/release/angular-ui-router.js')
script(src='/highcharts/adapters/standalone-framework.src.js')
script(src='/highcharts/highcharts.src.js')
script(src='/highchart-ng/dist/highcharts-ng.js')
script(src='/datejs/build/date-es-AR.js')
script(src='/javascripts/parse-1.4.2.js')
script(src='/socket.io/node_modules/socket.io-client/socket.io.js')
script(src='/javascripts/client.js')
